@import url('https://fonts.googleapis.com/css?family=Antic|Quicksand');
body{
	margin:0;
	padding:0;
	background-image: url("images/backgrounds/2.jpg");
	background-position: center top;
	font-family:'cuprum',sans-serif;
}
#dull{
    opacity: .9;
    background-color: black;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}
::-moz-scrollbar { 
    display:none;
}
::-webkit-scrollbar { 
    display:none;
}
div{
	background-color:black;
}
.img{
    height: 7%;
	font-size: 2vh;
    width: 100%;
    margin: 0;
    left: 0%;
    padding: 0%;
    background-color: inherit;
    color: white;
	white-space:nowrap;
    font-family: 'Antic';
    font-weight: lighter;
}
img{    
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: .5s;
}
.img h1{
    position: relative;
	margin:0;
	padding: 1%;
    top: 50%;
    transform: translate(0%,-50%);
}
.pro{
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
    height: 20vh;
    left: 0%;
    margin-top: 0%;
    padding: 0;
}
.row1, .row2, .row3, .row4, .row5{
	height:20vh;
    left: 0%;
    padding: 0%;
    margin: 0%;
	box-shadow : 0px 0px 0px black;
}
.row1:hover, .row2:hover, .row3:hover, .row4:hover, .row5:hover{
	box-shadow : 6px 0px 70px black;
}